.container {
    padding: 100px 40px 60px;
    background-color: #f1f1f1;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #fff;
}

.wrap-block-user {
    padding: 30px 0;
    margin-bottom: 50px;
    color: var(--main-color);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
}

.container_header {
    margin-right: 30px;
    margin-left: 30px;
}

.header-main-user-info {
    display: flex;
    align-items: center;
    background-color: #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.main-user-info .user-avatar {
    width: 100px;
    height: 100px;
    position: relative;
}

.main-user-info .user-avatar .img-user {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 3px 5px;
}

.content-main-user-info {
    width: calc(100% - 85px);
    padding-left: 15px;
}

.content-main-user-info .user-name {
    font-size: 20px;
    margin: 0 0 5px 0;
    width: 100%;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.content-main-user-info .main-user-des {
    font-size: 16px;
    margin: 0;
    line-height: 1.37;
    margin: 0 0 10px;
}

.wrap-detail-user-progress {
    display: flex;
    justify-content: center;
    color: var(--white);
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.textExercise {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.detail-progress-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.result {
    font-weight: 700;
    font-size: 3rem;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

.result-des {
    font-size: 15px;
    font-weight: 400;
    padding-left: 10px;
}

.item-progress-bar {
    height: 5px;
    width: 150px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(90deg, #68c808 0%, #ffd025 51.65%, #cc0b36 100%);
    text-align: center;
}

.item-progress-bar .current-progress {
    display: block;
    position: relative;
    border-radius: 5px;
    height: 100%;
}

.item-progress-bar .current-progress:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: #dbeaff;
}

/* Home main */
.container__problem-search {
    margin-bottom: 30px;
    align-items: center;
}

.container__problem-search-list {
    font-size: 2rem;
    color: #666;
}

.container__problem-search-action {
    display: flex;
    align-items: center;

}

.container__problem-level {
    position: relative;
    padding: 6px 40px;
    color: #666;
    border-radius: 16px;
    border: 1px solid #666;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    cursor: pointer;
    background-color: #fff;
}

.container__problem-level::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 150px;
    height: 20px;
}

.container__problem-level:hover .container__problem-subLevel {
    display: block;
}

.container__problem-subLevel {
    display: none;
    position: absolute;
    background-color: #fff;
    right: 0;
    padding: 0;
    top: 25px;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 150px;
    border-radius: 3px;
    overflow: hidden;
}

.container__problem-subLevel-item {
    font-size: 1.4rem;
    padding: 10px;
    color: #666;
}

.container__problem-subLevel-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.container__problem-level-text {
    font-size: 1.6rem;
    color: #666;
    margin-right: 4px;
}

.container__problem-form-search {
    margin: 0 40px;
    position: relative;

}

.container__problem-form-input {
    padding: 8px 12px;
    color: #666;
    border-radius: 16px;
    border: 1px solid #666;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.container__problem-form-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #666;
    font-size: 1.2rem;
}

/* User Item _ Container Body*/
.container__problem-body {
    background-color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.problem__card {
    max-width: 540px;
    height: 120px;
    border: 1px solid #4CC790;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.problem__info {
    display: flex;
    align-items: center;
}

.problem__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #4CC790;
}

.problem__user_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 100px;
}

.problem__user_name {
    font-size: 12px;
    margin-top: 5px
}

.problem__statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.problem__detail {
    margin-left: 8px
}

.problem__detail_heading {
    font-size: 1.6rem;
    color: #515a6e;
    text-decoration: none;
}

.problem__detail_heading:hover {
    opacity: 0.6;
}

.problem__detail_level {
    font-size: 1.2rem;
    margin-top: 5px;
}

.problem__detail_description {
    font-size: 1.2rem;
    overflow: hidden;
    color: #878d9b
}
.problem__do {
    background-color: #4CC790;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
    border: 1px solid #4CC790;
}
.problem__do:hover{
    background-color: white;
    color: #4CC790;
}
.single-chart {
    width: 70%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 15px auto 0 auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.circular-chart.blue .circle {
    stroke: #3c9ee5;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 1rem;
    text-anchor: middle;
}

/* Footer */

.container_footer {
    background-color: #fff;
    padding-top: 5.5rem;
    padding-bottom: 6.5rem;
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


.container__container__footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

/* Rank */
.color_title_rank {
    color: rgb(0, 0, 0);
}

.title_rank {
    text-align: center;
}

.title_detail {
    font-size: 48px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
}

.mb--80 {
    margin-bottom: 80px;
}

.font-size--16 {
    font-size: 16px;
}

.detail_user {
    height: 900px;
    overflow-y: auto;
    cursor: grab;
}

.detail_user_info {
    background-color: #1e2029;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    padding: 12px 22px 12px 2px;
    border: 2px solid #2a2c34;
    border-radius: 15px;
    margin: 20px;
}

.text-align--right {
    text-align: right;
}

.w--40 {
    width: 40px;
}

.font-size--20 {
    font-size: 20px;
}

.mr--14 {
    margin-right: 14px;
}

.justify-content--spaceBetween {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.align-items--center {
    -webkit-align-items: center;
    align-items: center;
}

.display--flex {
    display: flex;
}

.w--full {
    width: 100%;
}

.mr--16 {
    margin-right: 16px;
}

.ant-avatar-image {
    background: transparent;
}

.ant-avatar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: "tnum", "tnum";
    -moz-font-feature-settings: "tnum", "tnum";
    font-feature-settings: "tnum", "tnum";
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background: #ccc;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
}

.font-size--14 {
    font-size: 14px;
    margin: 20px;
    padding-left: 20px;
}

.color--functional-success-500 {
    color: #2dca8c;
}

.text-align--right {
    text-align: right;
}

.font-size--18 {
    font-size: 18px;
}