/* Container Exercise */
.container {
    padding: 100px 0 60px;
    background-color: #f1f1f1;
}

/* Exercise */
.container__problem-header {
    margin-bottom: 40px;
}

.container__statistic {
    position: relative;
}

.container__statistic-image {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.container__statistic-data {
    display: flex;
    justify-content: flex-end;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container__statistic-rank-img {
    position: absolute;
    top: 180px;
    left: 25px;
}

.container__statistic-data-info {
    display: flex;
    width: 30%;
    text-align: center;
    align-items: baseline;
    margin: 20px;
}

.container__statistic-data-level {
    font-size: 1.4rem;
    color: #999;
    font-weight: 300;
    margin-right: 6px;
}

.container__statistic-data-number-easy {
    font-size: 2.6rem;
    color: #77c148;
    font-weight: 400;
}

.container__statistic-data-number-medium {
    color: #faa05e;
    font-size: 2.6rem;
    font-weight: 400;
}

/* Card */
.container__card {
    text-align: center;
}

.container__card-content {
    background-color: #1a416a;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__card-task {
    padding: 15px 0;
}

.container__card-nameEx {
    color: #fff;   
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 600;
    margin-right: 4px;
}

.container__card-nameEx:hover {
    text-decoration: underline;
}

.container__card-level-easy {
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 10px;
    background-color: #77c148;
    border-radius: 50px;
}

.container__card-level-medium {
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 10px;
    background-color: #faa05e;
    border-radius: 50px;
}

.container__card-tag {
    color: #92b8ec;
    padding: 6px 12px;
    border: 1px solid #92b8ec;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 0;
}

.container__card-avatar {
    margin: 15px 0;
}

.container__card-avatar-rim {
    height: 60px;
}

.container__card-owner {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
}

.container__card-owner:hover {
    text-decoration: underline;
    color: #92b8ec;
}

.container__card-challenge {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 300;
    padding: 10px;
    background-color: #ee4035;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 50%);
    margin: 15px 0;
}

.container__card-info {
    background-color: #fff;
    height: 64px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__card-info-content {
    font-size: 1.4rem;  
    color: #999;
    font-weight: 400;
}

/* Container Search */
.container__problem-search {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 15px;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
    margin-bottom: 40px;
}

.container__problem-search-list {
    font-size: 2rem;
    color: #666;
}

.container__problem-search-action {
    display: flex;
    align-items: center;

}

.container__problem-level {
    position: relative;
    padding: 6px 40px;
    color: #666;
    border-radius: 16px;
    border: 1px solid #666;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    cursor: pointer;
    background-color: #fff;
}

.container__problem-level::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 0;
    width: 150px;
    height: 20px;
}

.container__problem-level:hover .container__problem-subLevel{
    display: block;
}

.container__problem-subLevel {
    display: none;
    position: absolute;
    background-color: #fff;
    right: 0;
    padding: 0;
    top: 25px;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 150px;
    border-radius: 3px;
    overflow: hidden;
}

.container__problem-subLevel-item {
    font-size: 1.4rem;
    padding: 10px;
    color: #666;
}

.container__problem-subLevel-item:hover {
    background-color: #f1f1f1;
}

.container__problem-level-text {
    font-size: 1.6rem;
    color: #666;
    margin-right: 4px;
}

.container__problem-form-search {
    margin: 0 40px;
    position: relative;

}

.container__problem-form-input {
    padding: 12px;
    color: #666;
    border-radius: 20px;
    border: 1px solid #666;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
}

.container__problem-form-icon {
    position: absolute;
    right: 16px;
    top: 14px;
    color: #666;
    font-size: 1.4rem;
}

/* User Item _ Container Body*/
.container__problem-body {
    background-color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.problem__card {
    max-width: 540px;
    height: 120px;
    border: 1px solid #4CC790;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.problem__info {
    display: flex;
    align-items: center;
}

.problem__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #4CC790;
}

.problem__user_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 100px;
}

.problem__user_name {
    font-size: 12px;
    margin-top: 5px
}

.problem__statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.problem__detail {
    margin-left: 8px
}

.problem__detail_heading {
    font-size: 1.6rem;
    color: #515a6e;
    text-decoration: none;
}

.problem__detail_heading:hover {
    opacity: 0.6;
}

.problem__detail_level {
    font-size: 1.2rem;
    margin-top: 5px;
}

.problem__detail_description {
    font-size: 1.2rem;
    overflow: hidden;
    color: #878d9b
}
.problem__do {
    background-color: #4CC790;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
    border: 1px solid #4CC790;
    font-size: 1.2rem;
}
.problem__do:hover{
    background-color: white;
    color: #4CC790;
}
.single-chart {
    width: 70%;
    justify-content: space-around;
}

.circular-chart {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.circular-chart.blue .circle {
    stroke: #3c9ee5;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 1rem;
    text-anchor: middle;
}